// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,200&display=swap');


:root {
  --cor-azul: #183477;
  --cor-cinza: #b5b5b5;
  --cor-rosa: #e2aeae;
  --cor-rosa-claro: #c1918b;

  // --fonte-padrao: 'Roboto', sans-serif;
  // --fonte-title: 'Poiret One', cursive;
  // --fonte-sub-title: 'Genos', sans-serif;

  --fonte-padrao: 'Nunito', sans-serif;
  --fonte-title: 'Nunito', cursive;
  --fonte-sub-title: 'Nunito', sans-serif;

}

* {
  margin: 0px;
  padding: 0px;
}


body {
  background-color: rgba(253, 253, 253, 0.699);
  font-family: --fonte-padrao;

}
main {
  min-width: 300px;
  max-width: 1500px;
  margin: auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: --fonte-padrao;
  }

  #banner {
    background-color: #454546;
    min-width: 300px;
    max-width: 1500px;
    margin: auto;
    padding: 20px;
    background-color: var(--cor-cinza);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: --fonte-padrao;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;

    h1 {
      font-weight: bolder;
      font-size: 60px;
    }

    }

  @keyframes scribble {
    to {
      stroke-dashoffset: 0;
    }
  }

  div#stripped {
    max-width: 750px;
    margin: 0 auto;
    background: #454546;
    background-image: url(https://res.cloudinary.com/guijafrone/image/upload/v1654884553/MANI%20GAMES/image_mxynro.png);
    background-size: cover;
    font-size: 0;
  }
  div#stripped svg {
    background: var(--cor-cinza);
    mix-blend-mode: darken;
  }

  div#stripped svg polyline {
    fill: none;
    stroke: rgb(236, 231, 231);
    stroke-width: 200;
    stroke-dasharray: 20000;
    stroke-dashoffset: 20000;
    animation: scribble 3s linear forwards;
  }
  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    div#stripped {
    // background-image: url(https://res.cloudinary.com/guijafrone/image/upload/v1654884553/MANI%20GAMES/image_mxynro.png);
    }
  }
  // .banner {
  //   background-repeat: no-repeat;
  //   background-size: 100%;
  //   background-position: center;
  //   padding: 150px 0;

  //   img {
  //     max-width: 1080px;   /* Máximo da largura da imagem */
  //     width: 90%;
  //     max-height: 500px;  /* Máximo da altura da imagem */
  //     min-height: auto;      /* Mínimo da altura, por padrão “auto” */
  //   }
  // }

  // .banner__text {
  //   width: 500px;
  //   padding: 35px;

  //   // Titulo Landing Page
  //   h1 {
  //     margin: 0;
  //     color: white;
  //     text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  //     font-size: 32px;
  //     font-weight: bold;
  //     font-family: var(--fonte-title);
  //     font-size: 60px;
  //     font-weight: bolder;

  //   }

  //   h2 {
  //     margin: 0;
  //     color: white;
  //     text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  //     font-size: 32px;
  //     font-weight: bold;
  //     font-family: var(--fonte-title);
  //   }

  //   // Paragrafo Landing Page
  //   p {
  //     font-size: 20px;
  //     color: white;
  //     opacity: .8;
  //     text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  //     font-family: var(--fonte-sub-title);
  //   }

  //   .wrapper{
  //     position: relative;
  //     top: 55%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //   }

  //   .link_wrapper{
  //     position: relative;
  //   }
  // }

.menu_btn {
  min-width: 300px;
  max-width: 1500px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #8c8c8c;
  // width: 1000px;
  // height: 60px;
  // right: 120px
}

.card-investments {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    border-radius: 10px;
  }
}


/* CARDS COM FOTO E TEXTO PADRAO */

/*MODELO 02 - foto a esquerda e texto a direita*/

.card-investment-model-02 {
  margin: 10px 50px 10px;
  overflow: hidden;
  height: 120px;
  width: 900px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-investment-model-02-infos {
    padding: 90px;
  }
}

/*MODELO 01 - foto a esquerda e texto a direita*/

.card-investment-model-01 {
  margin: 10px 50px 10px;
  overflow: hidden;
  height: 120px;
  width: 900px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-investment-model-01-infos {
    padding: 16px;
  }
}



/* Sticky footer position and size
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
}

/* Taller footer on small screens */
@media (max-width: 567em) {
    body {
      margin-bottom: 300px;
    }
    .footer {
      height: 300px;
    }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 30px;
  // margin-bottom: 150px;
  background-color: #8c8c8c;
  color: black;

  h1 {
    font-family: var(--fonte-title);
  }

  p {
    font-family: var(--fonte-padrao);
  }
}

footer a {
  color: black;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
  height: 10px;
  width: 15px;
}

footer .form-control {
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(20, 20, 20, 0.9);
    border: none;
    border-radius: 5px;
    font-family: var(--fonte-padrao);
    resize: none;
    color: #000000;
    text-shadow: 1px 1px 1px rgba(251, 246, 246, 0.073);
    padding: 0.7em 1em;
}
