// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@1,200&display=swap');

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);


@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');
$black: #2b2b2b;
$size: 42px;

$borders: 1px solid black;
$borders-red: 1px solid rgb(255, 0, 0);
$borders-red: 0;
$borders: 0;

$dark: #4d4e4e;
$dark-grey: #1999d6;
$grey: #e1e1e1;
$grey-dark: #aaafb8;
$red:#ff4c4c;
$light-green: #a8ff3e;
$green: #7ac70d;
$dark-green: #629f0a;
$blue: #1db0f6;
$dark-blue: #1999d6;
$gold: gold;

:root {
  --cor-azul: #183477;
  --cor-cinza: #b5b5b5;
  --cor-rosa: #e2aeae;
  --cor-rosa-claro: #c1918b;

  // --fonte-padrao: 'Roboto', sans-serif;
  // --fonte-title: 'Poiret One', cursive;
  // --fonte-sub-title: 'Genos', sans-serif;

  --fonte-padrao: 'Nunito', sans-serif;
  --fonte-title: 'Nunito', cursive;
  --fonte-sub-title: 'Nunito', sans-serif;

}

* {
  margin: 0px;
  padding: 0px;
}


body {
  background-color: rgba(253, 253, 253, 0.699);
  font-family: var(--fonte-padrao);
  p {
    font-family: var(--fonte-padrao);
  }
}
main {
  background-image: url("background-hq.png");
  background-position: center;
  background-size: cover;
  min-width: 300px;
  max-width: 1500px;
  margin: auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);
  border-radius: 10px;
  font-family: --fonte-padrao;
  color: $dark;
  margin-top: 10px;
  }

  #banner {
    border: $borders;
    // background-color: #454546;
    min-width: 300px;
    max-width: 1500px;
    margin: auto;
    padding: 20px;
    // background-color: var(--cor-cinza);
    // background-color: rgba(255, 255, 255, 0);
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
    border-radius: 10px;
    font-family: --fonte-padrao;
    color: $dark;
    text-align: center;
    text-shadow: 1px 1px 1px black;

    h1 {
      border: $borders;
      font-weight: bolder;
      font-size: 60px;
    }

    h2 {
      border: $borders;
    }

    .banner-lower-container {
      border: $borders;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;

      .banner-img {
        border: $borders-red;
        width: 240px;
        margin-top: 30px;
        $rotate: -10deg;
        -webkit-transform: rotate($rotate);
        -moz-transform: rotate($rotate);
        -ms-transform: rotate($rotate);
        -o-transform: rotate($rotate);
        transform: rotate($rotate);
      }

      .banner-btns {
        border: $borders-red;
        height: 200px;
        width: 300px;
        font-family: Nunito;

        text-align: center;
        padding-bottom: 10px;
        border-radius: 10px;
        color: white;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .banner-btn {
          text-decoration: none;
          color: white;
          padding: 0 10px;
          border: 0;
          height: 50px;
          border-radius: 10px;
          width: 250px;
        }

        #banner-btn-register {
          background: #1cb0f6;
          border-bottom: 5px solid #1899d6;

          &:hover {
            background: #71d2ff;
          }
        }

        #banner-btn-login {
          background: #7ac70c;
          border-bottom: 5px solid #619f09;


          &:hover {
            background: rgb(198, 255, 129);
          }
        }
      }


     }

     .something-future {
      border: $borders;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
     }


    }

  @keyframes scribble {
    to {
      stroke-dashoffset: 0;
    }
  }

  div#stripped {
    max-width: 750px;
    margin: 0 auto;
    background: #454546;
    background-image: url(https://res.cloudinary.com/guijafrone/image/upload/v1654884553/MANI%20GAMES/image_mxynro.png);
    background-size: cover;
    font-size: 0;
  }
  div#stripped svg {
    background: var(--cor-cinza);
    mix-blend-mode: darken;
  }

  div#stripped svg polyline {
    fill: none;
    stroke: rgb(236, 231, 231);
    stroke-width: 200;
    stroke-dasharray: 20000;
    stroke-dashoffset: 20000;
    animation: scribble 3s linear forwards;
  }
  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    div#stripped {
    background-image: url(https://res.cloudinary.com/guijafrone/image/upload/v1654884553/MANI%20GAMES/image_mxynro.png);
    }
  }
  // .banner {
  //   background-repeat: no-repeat;
  //   background-size: 100%;
  //   background-position: center;
  //   padding: 150px 0;

  //   img {
  //     max-width: 1080px;   /* Máximo da largura da imagem */
  //     width: 90%;
  //     max-height: 500px;  /* Máximo da altura da imagem */
  //     min-height: auto;      /* Mínimo da altura, por padrão “auto” */
  //   }
  // }

  // .banner__text {
  //   width: 500px;
  //   padding: 35px;

  //   // Titulo Landing Page
  //   h1 {
  //     margin: 0;
  //     color: white;
  //     text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  //     font-size: 32px;
  //     font-weight: bold;
  //     font-family: var(--fonte-title);
  //     font-size: 60px;
  //     font-weight: bolder;

  //   }

  //   h2 {
  //     margin: 0;
  //     color: white;
  //     text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  //     font-size: 32px;
  //     font-weight: bold;
  //     font-family: var(--fonte-title);
  //   }

  //   // Paragrafo Landing Page
  //   p {
  //     font-size: 20px;
  //     color: white;
  //     opacity: .8;
  //     text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  //     font-family: var(--fonte-sub-title);
  //   }

  //   .wrapper{
  //     position: relative;
  //     top: 55%;
  //     left: 50%;
  //     transform: translate(-50%, -50%);
  //   }

  //   .link_wrapper{
  //     position: relative;
  //   }
  // }

.menu_btn {
  min-width: 300px;
  max-width: 1500px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #8c8c8c;
  // width: 1000px;
  // height: 60px;
  // right: 120px
}

.card-investments {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    border-radius: 10px;
  }
}


/* CARDS COM FOTO E TEXTO PADRAO */

/*MODELO 02 - foto a esquerda e texto a direita*/

.card-investment-model-02 {
  margin: 10px 50px 10px;
  overflow: hidden;
  height: 120px;
  width: 900px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-investment-model-02-infos {
    padding: 90px;
  }
}

/*MODELO 01 - foto a esquerda e texto a direita*/

.card-investment-model-01 {
  margin: 10px 50px 10px;
  overflow: hidden;
  height: 120px;
  width: 900px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 10px;

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-investment-model-01-infos {
    padding: 16px;
  }
}

/* Sticky footer position and size
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
}

/* Taller footer on small screens */
@media (max-width: 567em) {
    body {
      margin-bottom: 300px;
    }
    .footer {
      height: 300px;
    }
}

/* CARDS TESTMONIALS */
#cards_testmonials_text {
  h2 {
    text-align: center;
    font-family: var(--fonte-title);
  }

  p {
    text-align: center;
    font-family: var(--fonte-sub-title);
  }
}

#testmonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  font-size: var(--fonte-title);
  // margin-bottom: 50px;

}

#cards_testmonials {
  // background-color: #9c8f8f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

figure.snip1139 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height:450px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  }

  img {
    max-width: 100%;
    vertical-align: middle;
  }

  blockquote {
    position: relative;
    background-color: #ffffff;
    padding: 25px 50px 25px 50px;
    font-size: 0.8em;
    font-weight: 500;
    text-align: left;
    margin: 0;
    line-height: 1.6em;
    font-style: italic;
  }
}

figure.snip1139 blockquote:before,
figure.snip1139 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1139 blockquote:before {
  top: 25px;
  left: 20px;
}
figure.snip1139 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
figure.snip1139 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ffffff;
  margin: 0;
  position: absolute;
}
figure.snip1139 .author {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 25px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}
figure.snip1139 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1139 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}

/* CARDS PROGRAMADORES */

.container_owners {
  display: flex;
  align-items: center;
  margin-top:80px;
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #4d4e4e77;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  min-width: 200px;
  // min-height: 95%;
  // width: 230px;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: $blue;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $blue;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: white;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $blue;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: $blue;
  background-color: #f7f5ec;
}

.team-content {
  .name {
    border: $borders;
    color: white;
    // width: 100px;
  }
}

.developers-div {
  border: $borders;
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 0px;
  // margin-bottom: 150px;
  // background-color: #8c8c8c;
  color: $dark;

  h1 {
    font-family: var(--fonte-title);
  }

  p {
    font-family: var(--fonte-padrao);
  }
}

footer a {
  color: black;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
  height: 10px;
  width: 15px;
}

footer .form-control {
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(20, 20, 20, 0.9);
    border: none;
    border-radius: 5px;
    font-family: var(--fonte-padrao);
    resize: none;
    color: #000000;
    text-shadow: 1px 1px 1px rgba(251, 246, 246, 0.073);
    padding: 0.7em 1em;
}
