// $borders: 1px solid black;
$borders: 0;

.dashboard {
  display: flex;
  border: $borders;
  align-items: center;
  justify-content: center;

}

$circle-size: 300px;
$stroke-width: 22px;

svg {
  border: $borders;
  width: $circle-size;
  height: $circle-size;
  margin: 20px;
}

.bg {
  fill: none;
  stroke-width: $stroke-width;
  stroke: rgb(227, 224, 224);
}

[class^="meter-"] {
  fill: none;
  stroke-width: $stroke-width;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;

}

.meter-1 {
  stroke-dasharray: 360;
  stroke-dashoffset: var(--circleBarFill);
  stroke: var(--barColor);
  // box-shadow: inset 0px 0px 10px rgb(190, 207, 240);
  animation: progress-1 3s ease-out;
}

@keyframes progress-1 {
    from {
        stroke-dashoffset: 360;
    }
    to {
        stroke-dashoffset: var(--circleBarFill);
    }
}
