    <div class="box-friends-list">

      <div class="box-friends-header">
        <p>Amigos</p>
        <p>Score acumulado</p>
      </div>

      <div class="box-friends-friends-list">
        <div class="friend-box">
          <p>Amigo 1</p>
          <p>27856 XP</p>
        </div>

        <div class="friend-box">
          <p>Amigo 2</p>
          <p>15782 XP</p>

        </div>

      </div>

      <footer>
        <button type="button" class="btn btn-primary" >Add um amigo!</button>
        <button type="button" class="btn btn-success" >Envie um convite!</button>
      </footer>

    </div>
