    <div class="box-friends-list">

      <div class="box-friends-header">
        <p>Amigos</p>
        <p>Score acumulado</p>
      </div>

      <div class="box-friends-friends-list">
        <div class="friend-box">
          <p>Mani</p>
          <p>27856 XP</p>
        </div>

        <div class="friend-box">
          <p>Milano</p>
          <p>15782 XP</p>
        </div>

        <div class="friend-box">
          <p>Stacy</p>
          <p>10859 XP</p>
        </div>

      </div>

      <footer>
        <button type="button" class="btn btn-primary btn-add-friend" >Add um amigo!</button>
        <button type="button" class="btn btn-success btn-send-invite" >Envie um convite!</button>
      </footer>

    </div>
