<% users.each do |user| %>
  <div class="friend-box-search">
    <p id="friend-username"><%= user.username %></p>
    <p id="friend-email"><%= user.email %></p>
    <!--<button id="btn-search-add-friend">Add</button>-->
    <%= button_to 'Add', friendships_path(receiver_username: user.username), method: 'post', class:"btn-search-add-friend" %>
  </div>
<% end %>
