 <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h1><i class="fas fa-pig"></i>MANI Team</h1>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><%= link_to "Produtos", products_path, style:"text-decoration:none;" %></li>
                            <li><a href="">Beneficios</a></li>
                            <li><a href="">Parceiros</a></li>
                            <li><a href="">Time</a></li>
                        </ul>

                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="">Investimentos</a></li>
                            <li><a href="">Suporte</a></li>
                            <li><a href="">Termos Legais</a></li>
                            <li><a href="">Sobre</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                  <ul class="nav" >
                      <li><a href="" ><i class="fa fa-github fa-lg"></i></a></li>
                      <li><a href="" ><i class="fa fa-twitter fa-lg" style="margin-left: 10px;"></i></a></li>
                      <li><a href="" ><i class="fa fa-github fa-lg" style="margin-left: 10px;"></i></a></li>
                      <li><a href="" ><i class="fa fa-instagram fa-lg" style="margin-left: 10px;"></i></a></li>
                  </ul>
                </div>
                <br>
            </div>
            <div class="col-md-2">
                <h2 class="text-md-right">Contato</h2>
                <hr>
            </div>
            <div class="col-md-5">
                <form>
                    <fieldset class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-mail">
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="exampleMessage" placeholder="Mensagem"></textarea>
                    </fieldset>
                    <fieldset class="form-group text-xs-right"> <br>
                        <button type="button" class="btn-ghost_footer">Enviar</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</footer>
