<main>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/guijafrone/image/upload/v1654543696/MANI%20GAMES/ideia-de-dinheiro-crescendo-passo-com-arvore_34152-2619_ez400j.webp);">
        <div class="banner__text">

          <h1><strong>Mani Invest</strong></h1>
          <br>
          <h2>Aprenda a <strong>investir</strong> jogando!</h2>
          <p>CONHECA, JOGUE, APRENDA, MUDE!</p>
          <a href="#" class="btn_banner">COMECAR</a>

        </div>
</div>

        <div class="menu_btn">
            <br>
            <a class="btn btn-ghost" href="#">Renda Fixa</a>
            <a class="btn btn-ghost" href="#">FII - Fundos Imobiliarios</a>
            <a class="btn btn-ghost" href="#">Renda Variavel</a>
            <a class="btn btn-ghost" href="#">Crypto</a>
        </div>

        <br><br>
      <div class="card-investments">
        <div class="card-investment-model-01">

            <img src="https://res.cloudinary.com/guijafrone/image/upload/v1654541466/mani%20invest/35409570_jutyhb.jpg" />

            <div class="card-investment-model-01-infos">
                <h2>Renda Fixa</h2>
                <p>O investimento <strong>MAIS SEGURO</strong> e <strong>MAIS RENTAVEL</strong> que a poupanca por apenas R$30,00.</p>
            </div>

        </div>

        <br><br>

        <div class="card-investment-model-02">

            <div class="card-investment-model-02-infos">
                <h2>Reserva de Emergencia</h2>
                <p>A sua <strong>SEGURANCA</strong> antes de investir qualquer centavo!</p>
            </div>

            <img src="https://res.cloudinary.com/guijafrone/image/upload/v1654542556/mani%20invest/reserva-emergencia-993x480_kezqb9.jpg" />

        </div>

        <br><br>

        <div class="card-investment-model-01">

            <img src="https://res.cloudinary.com/guijafrone/image/upload/v1654541979/mani%20invest/entenda-a-diferenca-entre-renda-fixa-e-variavel-5_ee7d49d9_ubyyxp.webp" />

            <div class="card-investment-model-01-infos">
                <h2>Renda Variavel</h2>
                <p>A forma <strong>MAIS RAPIDA</strong> de ter ganhos exponencias.</p><br>
                <p>Para esse investimento e aconselhavel ter uma reserva de emergica de no minimo 6 meses.</p>
            </div>

        </div>

        <br><br>

        <div class="card-investment-model-02">

            <div class="card-investment-model-02-infos">
                <h2>Renda Fixa</h2>
                <p>O investimento <strong>MAIS SEGURO</strong> e <strong>MAIS RENTAVEL</strong> que a poupanca por apenas R$30,00.</p>
            </div>

            <img src="https://res.cloudinary.com/guijafrone/image/upload/v1654542556/mani%20invest/reserva-emergencia-993x480_kezqb9.jpg" />

        </div>

        <br><br>
      </div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

</main>
