<main>
<% renda_fixa = "O investimento MAIS SEGURO e MAIS RENTAVEL que a poupanca por apenas R$30,00." %>
<% renda_emergencia = "A sua SEGURANCA antes de investir qualquer centavo!" %>
<% renda_variavel = "A forma MAIS RAPIDA de ter ganhos exponencias.<br>Para esse investimento e aconselhavel ter uma reserva de emergica de no minimo 6 meses." %>

<% pilar_1 = "Auxiliar na educacao financeira de pessoas que tem pouco ou nenhum conhecimento" %>
<% pilar_2 = "Ensinar financas de maneira educativa, interativa e ludica para todos os publicos" %>
<% pilar_3 = "Transmitir o conhecimento ou aprendizado de forma gratuita" %>
<% pilar_4 = "Possibilitar o acesso a esse tipo de conhecimento ao maximo de pessoas com algum interesse no assunto" %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/guijafrone/image/upload/v1654543696/MANI%20GAMES/ideia-de-dinheiro-crescendo-passo-com-arvore_34152-2619_ez400j.webp);">
        <div class="banner__text">

          <h1><strong>Mani Invest</strong></h1>
         <h2>Aprenda a investir jogando!
            <br><span
              class="txt-rotate"
              data-period="2000"
              data-rotate='[ "Conheça", "Jogue", "Aprenda", "Divrita-se", "Mude!" ]'></span>
          </h2>
          <a href="#" class="btn_banner">COMECAR</a>

        </div>
</div>

        <div class="menu_btn">
            <br>
            <a class="btn btn-ghost" href="#">Renda Fixa</a>
            <a class="btn btn-ghost" href="#">FII - Fundos Imobiliarios</a>
            <a class="btn btn-ghost" href="#">Renda Variavel</a>
            <a class="btn btn-ghost" href="#">Crypto</a>
        </div>

        <br><br>
      <div class="card-investments">
        <div class="card-investment-model-01">

            <img src="https://res.cloudinary.com/guijafrone/image/upload/v1654541466/mani%20invest/35409570_jutyhb.jpg" />

            <div class="card-investment-model-01-infos">
                <h2><%= pilar_1 %></h2>
            </div>

        </div>

        <br><br>

        <div class="card-investment-model-02">

            <div class="card-investment-model-02-infos">
                <h2><%= pilar_2 %></h2>
            </div>

            <img src="https://res.cloudinary.com/guijafrone/image/upload/v1654542556/mani%20invest/reserva-emergencia-993x480_kezqb9.jpg" />

        </div>

        <br><br>

        <div class="card-investment-model-01">

            <img src="https://res.cloudinary.com/guijafrone/image/upload/v1654541979/mani%20invest/entenda-a-diferenca-entre-renda-fixa-e-variavel-5_ee7d49d9_ubyyxp.webp" />

            <div class="card-investment-model-01-infos">
                <h2><%= pilar_3 %></h2>
            </div>

        </div>

        <br><br>

        <div class="card-investment-model-02">

            <div class="card-investment-model-02-infos">
                <h2><%= pilar_4 %></h2>
            </div>

            <img src="https://res.cloudinary.com/guijafrone/image/upload/v1654542556/mani%20invest/reserva-emergencia-993x480_kezqb9.jpg" />

        </div>

        <br><br>
      </div>
  <script>
    var TxtRotate = function(el, toRotate, period) {
      this.toRotate = toRotate;
      this.el = el;
      this.loopNum = 0;
      this.period = parseInt(period, 10) || 2000;
      this.txt = '';
      this.tick();
      this.isDeleting = false;
    };

    TxtRotate.prototype.tick = function() {
      var i = this.loopNum % this.toRotate.length;
      var fullTxt = this.toRotate[i];

      if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
      } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
      }

      this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

      var that = this;
      var delta = 300 - Math.random() * 100;

      if (this.isDeleting) { delta /= 2; }

      if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
      } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
      }

      setTimeout(function() {
        that.tick();
      }, delta);
    };

    window.onload = function() {
      var elements = document.getElementsByClassName('txt-rotate');
      for (var i=0; i<elements.length; i++) {
        var toRotate = elements[i].getAttribute('data-rotate');
        var period = elements[i].getAttribute('data-period');
        if (toRotate) {
          new TxtRotate(elements[i], JSON.parse(toRotate), period);
        }
      }
      // INJECT CSS
      var css = document.createElement("style");
      css.type = "text/css";
      css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
      document.body.appendChild(css);
    };
  </script>
</main>
