<main>

<div id="banner">
<h1>MANI INVEST</h1>
<p>Aprenda a <strong>INVESTIR</strong> jogando!</p>
  <div id="stripped">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1500 1062">
  <polyline points="0,154 131,0 0,348 269,0 0,562 437,0
    0,766 565,14 0,1062 719,0 289,1062 843,0 543,1062 995,0 729,1062 1161,0 947,1062 1307,0 1143,1062 1500,162 1299,1062 1500,830"/>
  </svg>
  </div>
</div>
<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/guijafrone/image/upload/v1654543696/MANI%20GAMES/ideia-de-dinheiro-crescendo-passo-com-arvore_34152-2619_ez400j.webp);">
        <div class="banner__text">

          <h1><strong>Mani Invest</strong></h1>
          <br>
          <h2>Aprenda a <strong>investir</strong> jogando!</h2>
          <p>CONHECA, JOGUE, APRENDA, MUDE!</p>
          <a href="#" class="btn_banner">COMECAR</a>

        </div>
</div> %>

        <div class="menu_btn">
            <br>
            <a class="btn btn-ghost" href="http://localhost:3000/products/4" target="_blank">Reserva  Emergencia</a>
            <a class="btn btn-ghost" href="http://localhost:3000/products/2" target="_blank">Renda Fixa</a>
            <a class="btn btn-ghost" href="http://localhost:3000/products/6" target="_blank">Fundos Imobiliarios</a>
            <a class="btn btn-ghost" href="http://localhost:3000/products/4" target="_blank">Renda Variavel</a>
            <a class="btn btn-ghost" href="#">Crypto</a>
        </div>

        <br><br>
      <div class="card-investments">
        <div class="card-investment-model-01">

          <a href="http://localhost:3000/products/4" target="_blank">
            <img src="https://res.cloudinary.com/guijafrone/image/upload/v1654541466/mani%20invest/35409570_jutyhb.jpg" />
          </a>
            <div class="card-investment-model-01-infos">
                <h2>Renda Fixa</h2>
                <p>O investimento <strong>MAIS SEGURO</strong> e <strong>MAIS RENTAVEL</strong> que a poupanca por apenas R$30,00.</p>
            </div>

        </div>

        <br><br>

        <div class="card-investment-model-02">


            <div class="card-investment-model-02-infos">
                <h2>Reserva de Emergencia</h2>
                <p>A sua <strong>SEGURANCA</strong> antes de investir qualquer centavo!</p>
            </div>

            <a href="http://localhost:3000/products/1" target="_blank">
            <img src="https://res.cloudinary.com/guijafrone/image/upload/v1654542556/mani%20invest/reserva-emergencia-993x480_kezqb9.jpg" />
            </a>
        </div>

        <br><br>


        <div class="card-investment-model-01">

          <a href="http://localhost:3000/products/5" target="_blank">
            <img src="https://res.cloudinary.com/guijafrone/image/upload/v1654541979/mani%20invest/entenda-a-diferenca-entre-renda-fixa-e-variavel-5_ee7d49d9_ubyyxp.webp" />
          </a>

            <div class="card-investment-model-01-infos">
                <h2>Renda Variavel</h2>
                <p>A forma <strong>MAIS RAPIDA</strong> de ter ganhos exponencias.</p><br>
                <p>Para esse investimento e aconselhavel ter uma reserva de emergica de no minimo 6 meses.</p>
            </div>
</a>
        </div>

        <br><br>


        <div class="card-investment-model-02">

            <div class="card-investment-model-02-infos">
                <h2>Renda Fixa</h2>
                <p>O investimento <strong>MAIS SEGURO</strong> e <strong>MAIS RENTAVEL</strong> que a poupanca por apenas R$30,00.</p>
            </div>

          <a href="http://localhost:3000/products/6" target="_blank">
            <img src="https://res.cloudinary.com/guijafrone/image/upload/v1654542556/mani%20invest/reserva-emergencia-993x480_kezqb9.jpg" />

             </a>
        </div>
        <br><br>
      </div>


</main>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h1><i class="fas fa-pig"></i> MANI ALL GROUP</h1>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="">Produtos</a></li>
                            <li><a href="">Beneficios</a></li>
                            <li><a href="">Parceiros</a></li>
                            <li><a href="">Time</a></li>
                        </ul>

                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="">Investimentos</a></li>
                            <li><a href="">Suporte</a></li>
                            <li><a href="">Termos Legais</a></li>
                            <li><a href="">Sobre</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item"><a href="" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-github fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>
                </ul>
                <br>
            </div>
            <div class="col-md-2">
                <h2 class="text-md-right">Contato</h2>
                <hr>
            </div>
            <div class="col-md-5">
                <form>
                    <fieldset class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-mail">
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="exampleMessage" placeholder="Mensagem"></textarea>
                    </fieldset>
                    <fieldset class="form-group text-xs-right"> <br>
                        <button type="button" class="btn-ghost_footer">Enviar</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</footer>
