.btn-log-in {
  width: 250px;
  margin-bottom: 20px;
}

.btn-sign-up {
  width: 250px;
  margin-bottom: 20px;

}

.btn-forgot-password {
  width: 250px;
}

.btn_banner {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	// font-family:Arial;
	font-family:"Nunito";

	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;

  &hover {
    background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
    background-color:#77a809;
  }

  &active {
    position:relative;
    top:1px;
  }
}

.btn-ghost {
  color: black;
  border: 1px solid black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }
}
