.question-page {
  // height: 100vh;
  background-color: #A9C9FF;
  background-image: linear-gradient(180deg, #A9C9FF 0%, #ffffff 100%);
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.question-top-part {
  margin: 0 auto;
  margin-top: 30px;
  // border: 1px solid black;
  width: 80vw;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.question-cancel-btn {
  color: rgb(145, 145, 145);
  font-size: 30px;
}

.container {
  margin-top: 50px;
  text-align: center;
  padding: 0px 220px;
}

.bar-container-part {
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  box-shadow: 0px 0px 4px #e5e5e5;
  height: 19px;
  width: 60vw;
}

.bar-evolution {
  width: 100px;
}

.bar-container {
  height: 20px;
  // width: 12vw;
  background-color: #1cb0f6;
  border-radius: 8px;
  box-shadow: inset 0px 0px 10px rgb(190, 207, 240);
}

.questions-container {
  // border: 1px solid #e5e5e5;
  border-radius: 10px;
  width: 90vw;
  margin: 20px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.question-cards {
  // border: 1px solid #e5e5e5;
  border-radius: 10px;
  width: 80vw;
  display: flex;
  justify-content: center;
}

.question-card {
  // background-color: green;
  background-color: white;
  box-shadow: 0px 0px 5px #e5e5e5;
  border-radius: 10px;
  // min-width: 200px;
  width: 15vw;
  height: 300px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  &:hover {
    width: 18vw;
  }
  border-bottom: 7px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  border-top: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;

  .question-answer {
    // border: 1px solid black;
    height: 80%;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .answer-letter {
    font-size: 30px;
    font-weight: 900;
    color: #6a6a81;
  }
}

.marked {
  background-color: #e5e5e5;
  color: white;
  font-weight: bolder;
}

.correct-answer-card {
  background-color: #a8ff3e;
  color: #6a6a81;
}

.wrong-answer-card {
  color: #6a6a81;
  background-color: #ff4b4b;
}

.question-card-greyed {
  background-color: #e5e5e5;
}

.question-footer {
  border-top: 3px solid #e5e5e5;
  border-bottom: 1px solid black;
  height: auto;
  display: flex;
  align-items: center;
  flex-grow: 1;
  align-self: stretch;
}

.correct-answer-footer-style {
  box-shadow: inset 0px 0px 20px #619f09;
  border: none;
}

.wrong-answer-footer-style {
  box-shadow: inset 0px 0px 20px #ff4b4b;
  border: none;
}

#question-buttons {
  // border: 1px solid black;
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

#confirm-button {
  width: 20vw;
  border-radius: 10px;
  background-color: #1cb0f6;
  border: 0;
  border-bottom: 5px solid #1899d6;
}

#btn-next-question {
  width: 20vw;
  border-radius: 10px;
  color: white;
  background-color: #7ac70c;
  border: 0;
  border-bottom: 5px solid #619f09;
}

#correct-answer-msg {
  // border: 1px solid black;
  width: 20vw;
  color: #619f09;
  font-weight: bolder;
}

#wrong-answer-msg {
  // border: 1px solid black;
  width: 20vw;
  color: rgb(167, 24, 24);
  font-weight: bolder;
}

#btn-lesson-review {
  width: 20vw;
  border-radius: 10px;
  color: white;
  background-color: #7ac70c;
  border: 0;
  border-bottom: 5px solid #619f09;
}

#sound-off{
  color: rgb(145, 145, 145);
  position: absolute;
  left: 30px;
  cursor: pointer;
}

#sound-on{
  color: rgb(145, 145, 145);
  position: absolute;
  left: 30px;
  cursor: pointer;
}
