<script>
  function onProductClick(id) {
    document.location.href = "products/" + id;
  }
</script>

<div class = "banner" >
    <div class="banner__text">

          <h1><strong>Mani Invest</strong></h1>
          <br>
          <h2>Produtos financeiros</h2>
          <p>Aprenda conceitos básicos</p>

    </div>
  </div>

<div class="container">

  <div class="row justify-content:center card-container">

      <div id="card-product-1" class="card-category col-6 clickable" onclick="onProductClick(1)" >
        CDB
        <img class="card-image" src="https://ativonabolsa.com.br/wp-content/uploads/2021/05/cdb-e1622156417841.jpg"/>
      </div>

      <div id="card-product-2" class="card-category col-6 clickable" onclick="onProductClick(2)" >
        LCI-LCB
        <img class="card-image" src="https://xerpay.com.br/blog/wp-content/uploads/sites/2/2019/10/lci-lca.png"/>
      </div>

      <div id="card-product-3" class="card-category col-6 clickable" onclick="onProductClick(3)" >
        CRI-CRA
        <img class="card-image" src="https://i0.wp.com/ferreirainvest.com/wp-content/uploads/2021/02/CRA-e-CRI-1.png?fit=1024%2C750"/>
      </div>

      <div id="card-product-4" class="card-category col-6 clickable" onclick="onProductClick(4)" >
        TESOURO DIRETO
        <img class="card-image" src="https://www.poupardinheiro.com.br/imagens/post/2928/quanto-rende-1000-mil-reais-tesouro-direto-hoje-2022.png"/>
      </div>

      <div id="card-product-5" class="card-category col-6 clickable" onclick="onProductClick(5)" >
        AÇÕES
        <img class="card-image" src="https://p7z2w8n8.rocketcdn.me/wp-content/uploads/2020/08/o-que-sao-acoes.jpg"/>
      </div>

      <div id="card-product-6" class="card-category col-6 clickable" onclick="onProductClick(6)" >
        FII
        <img class="card-image" src="https://paranaportal.uol.com.br/wp-content/uploads/2021/03/FII-imagem22240.jpg"/>
      </div>
  </div>

</div>
