<h1>Description</h1>
<div><%=@product.description%></div>

<h2>O que é?</h2>
<div><%=@product.whatIs%></div>

<h3>Quais os tipos?</h3>
<div><%=@product.types%></div>

<h4>Como investir em?</h4>
<div><%=@product.howToInvest%></div>
